[submodule "mk-root"]
	path = mk-root
	url = git@github.com:worcode/mk-root.git
[submodule "mk-auth"]
	path = mk-auth
	url = git@github.com:worcode/mk-auth.git
[submodule "mk-home"]
	path = mk-home
	url = git@github.com:wornut/mk-home.git
